- name: create /app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: creating system user
  ansible.builtin.user:
    name: roboshop 
    state: present
    system: yes # This parameter makes it a system user
    shell: /sbin/nologin # Typically, system users do not have login shells
    home: /app

- name: download code to tmp directory
  ansible.builtin.get_url:
    url: "https://roboshop-backend-src.s3.us-east-1.amazonaws.com/{{ component }}-v3.zip"
    dest: "/tmp/{{ component }}.zip"

- name: changing the app directory
  ansible.builtin.command: cd /app

- name: unzipping the file into app directory
  ansible.builtin.unarchive:
    src: "/tmp/{{ component }}.zip"
    dest: /app
    remote_src: yes